<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button
          class="btn btn-link btn-block text-left"
          type="button"
          data-toggle="collapse"
          data-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Basic Information
        </button>
      </h2>
    </div>
    <div
      id="collapseOne"
      class="collapse show"
      aria-labelledby="headingOne"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <strong>Base experience:</strong>
            {{ this.modalService.modalInfo.pokemon.baseExperience }}
          </li>
          <li class="list-group-item">
            <strong>Height:</strong>
            {{ this.modalService.modalInfo.pokemon.height }}
          </li>
          <li
            class="list-group-item"
            *ngFor="let stat of this.modalService.modalInfo.pokemon.stats"
          >
            <strong>{{ stat.name }}:</strong> {{ stat.baseStat }}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button
          class="btn btn-link btn-block text-left collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          Description
        </button>
      </h2>
    </div>
    <div
      id="collapseTwo"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        {{ this.modalService.modalInfo.pokemon.description }}
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button
          class="btn btn-link btn-block text-left collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          Evolutions
        </button>
      </h2>
    </div>
    <div
      id="collapseThree"
      class="collapse"
      aria-labelledby="headingThree"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <p *ngIf="this.modalService.modalInfo.evolution.length == 0"> It does not have any evolutions</p>
        <p *ngFor="let eachEvolution of this.modalService.modalInfo.evolution">
          <em
            *ngFor="
              let evolutionDetail of eachEvolution.informationDetail;
              let i = index
            "
          >
            <a href="/page/{{ evolutionDetail.pokemonID.id / 20 + 1 }}">
              {{ evolutionDetail.name }}</a
            >
            <strong
              *ngIf="
                !isIndexEqualToTotalEvolves(i, eachEvolution.informationDetail)
              "
            >
              evolves to
            </strong>
          </em>
        </p>
      </div>
    </div>
  </div>
</div>
