<div class="row justify-content-center">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item" *ngIf="pagination.pageNumber != 1">
        <a class="page-link" href="/page/{{ this.pagination.pageNumber - 1 }}"
          >Previous</a
        >
      </li>
      <li class="page-item" *ngIf="pagination.pageNumber != 1">
        <a class="page-link" href="/page/1">1</a>
      </li>
      <li class="page-item" *ngIf="pagination.pageNumber > 2">
        <a class="page-link">...</a>
      </li>

      <li class="page-item">
        <a
          class="page-link"
          href="/page/{{ this.pagination.pageNumber - 2 }}"
          *ngIf="pagination.pageNumber > 3"
          >{{ this.pagination.pageNumber - 2 }}</a
        >
      </li>
      <li class="page-item">
        <a
          class="page-link"
          href="/page/{{ this.pagination.pageNumber -1 }}"
          *ngIf="pagination.pageNumber > 2"
          >{{ this.pagination.pageNumber +- 1 }}</a
        >
      </li>
      <li class="page-item">
        <a class="page-link" href="/page/{{ this.pagination.pageNumber }}">{{
          this.pagination.pageNumber
        }}</a>
      </li>
      <li class="page-item">
        <a
          class="page-link"
          href="/page/{{ this.pagination.pageNumber + 1 }}"
          *ngIf="pagination.pageNumber < 40"
          >{{ this.pagination.pageNumber + 1 }}</a
        >
      </li>
      <li class="page-item">
        <a
          class="page-link"
          href="/page/{{ this.pagination.pageNumber + 2 }}"
          *ngIf="pagination.pageNumber < 39"
          >{{ this.pagination.pageNumber + 2 }}</a
        >
      </li>

      <li class="page-item" *ngIf="pagination.pageNumber < 40">
        <a class="page-link">...</a>
      </li>
      <li class="page-item" *ngIf="pagination.pageNumber != 41">
        <a class="page-link" href="/page/41">41</a>
      </li>
      <li class="page-item" *ngIf="pagination.pageNumber != 41">
        <a class="page-link" href="/page/{{ this.pagination.pageNumber + 1 }}"
          >Next</a
        >
      </li>
    </ul>
  </nav>
</div>
