<div class="container">
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4"></h1>
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1920px-International_Pok%C3%A9mon_logo.svg.png"
      alt=""
      width="180"
    />
    <p class="lead">
      Gotta catch em all!
    </p>
  </div>
  <app-pagination></app-pagination>
  <app-pokemon-card [pokemon]="pokemonMap"></app-pokemon-card>
</div>
