.card-style {
  height: 90%;
}

.card-style:hover {
  animation: headShake;
  animation-duration: 2s;
}

.card-body {
  padding: 0.5rem;
  text-align: center;
}

.card-img-top {
  width: 150px;
  align-self: center;
}

.list-group-item {
  list-style-type: square;
}
